@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --font01: "Inter", sans-serif;

    --color01: hsl(75, 94%, 57%);
    --color02: hsl(0, 0%, 20%);
    --color03: hsl(0, 0%, 12%);
    --color04: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color04);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 580px;
    min-width: 90%;
    background-color: var(--color03);
    border-radius: 10px;
}

section {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}